<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

<!--    <style>-->
<!--        input[type=text], input[type=email], input[type=number], input[type= date], textarea,select {-->
<!--            width: 100%;-->
<!--            padding: 12px 0px;-->
<!--            margin: 8px 0;-->
<!--            display: inline-block;-->
<!--            border: 1px solid #ccc;-->
<!--            border-radius: 4px;-->
<!--            box-sizing: border-box;-->
<!--        }-->
<!--        #form {-->
<!--            width: 40%;-->
<!--            border-radius: 5px;-->
<!--            background-color: #f2f2f2;-->
<!--            padding: 20px;-->
<!--            margin-left: 30%;-->
<!--            margin-bottom: 30px;-->
<!--        }-->
<!--        input[type=submit] {-->
<!--            background-color: #ff003b;-->
<!--            width: 100px;-->
<!--            height: 40px;-->
<!--            border-radius: 5px;-->
<!--            color: white;-->
<!--            margin-top: 10px;-->
<!--        }-->

<!--        body{-->
<!--            background-image: url("https://cdn.wallpapersafari.com/18/5/Me6K3L.jpg");-->
<!--        }-->
<!--        #remove:hover{-->
<!--            color: red;-->
<!--            background-color: black;-->
<!--        }-->

    </style>
</head>

<body>
<head th:insert="/index :: head"></head>
<div class="abc text-center"><h3>Remove Employee</h3></div>
<div class="text-center"><h4 style="color:red;">Are you sure ?</h4></div>
<div><a th:href="@{/employee}"><i class="fa-sharp fa-solid fa-house-user"></i>Back To Employee List</a></div>
<div id="form" class="text-center">
    <form  th:action="@{/employee/delete}" th:object="${employeeList}"
           method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label><b>Employee Name</b></label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label><b>Date Of birth</b></label>
            <input type="text" th:field="*{dateOfBirth}"/>
        </div>
        <div>
            <label><b>Id card</b></label>
            <input type="text" th:field="*{idCard}"/>
        </div>
        <div>
            <label><b>Salary</b></label>
            <input type="text" th:field="*{salary}"/>
        </div>
        <div>
            <label><b>Phone Number</b></label>
            <input type="text" th:field="*{phoneNumber}"/>
        </div>
        <div>
            <label><b>Email</b></label>
            <input type="text" th:field="*{email}"/>
        </div>
        <div>
            <label><b>Address</b></label>
            <input type="text" th:field="*{address}"/>
        </div>
        <div>
            <label><b>Division</b></label>
            <input type="text" th:field="*{division.name}"/>
        </div>
        <div>
            <label><b>EducationDegree</b></label>
            <input type="text" th:field="*{educationDegree.name}"/>
        </div>
        <div>
            <label><b>Position</b></label>
            <input type="text" th:field="*{position.name}"/>
        </div>

        <input id="remove" type="submit" value="Remove"/>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<footer th:insert="/index :: footer"></footer>
</html>